@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-yellow-light: #FCE96C;
  --color-gold-medium: #F4C93C;
  --color-orange-gold: #E39A3B;
  --color-gold-deep: #F4C53A;
  --color-white: #FFFFFF;
}

.menu-item {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: var(--color-gold-medium);
}

.banner-image {
  width: 120% !important;
  height: 80vh!important;
}

@media (max-width: 768px) {
  .banner-image {
    height: 20vh !important;
  }
}
